/* style for the DIV that holds the image pair */
.magnifier {
  overflow: hidden;
  position: relative;
}

/* style for the DIV that is the magnifier lens */
.maglens {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  /* optional so you can see it */
  /* border: 2px solid rgba(255,255,255,0.8); */
}

/* stop theme “responsive img” rules from breaking sizing */
.magnifier img {
  max-width: none !important;
}

/* style for the small IMG that appears on the page */
.magsmall {
  position: absolute;
  border-style: none;
}

/* style for the magnified image */
.maglarge {
  position: absolute;
  border-style: none;
}
